# This file lists all the dependencies that are required by the project, and can be installed using pip
# Generated via pipreqs
# To install the dependencies, run `pip install -r requirements.txt` from the working directory
numpy
pandas
torch
transformers
wandb